.nosotros {
  background-image: url(imagen/dolar.jpg);
  min-height: 700px;
}

.nosotros h1 {
  font-size: 3rem;
  color: rgb(176, 159, 216);
}

.nosotros p {
  margin-top: 2vh;
}

.nosotros .viejas {
  margin-top: 5vh;
}
